/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --start-button: #0061fe;
    --jumbotron-section: #b4d0e6;
    --border-cards: #dedde0;
}

.debug{
}


img{
    max-width: 100%;
}

.container{
    min-height: 120px;
    background-color: aquamarine;
}

.row{
    background-color: brown;
}

[class^="col"]{
    background-color: rgb(255, 255, 255);
   
}


/* #endregion common */


/* #region layout */

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 0 ;
    
}

[class^="col"]{
    padding: 1rem;
}

.col{
    width: auto;
    flex-basis: auto;
    border: 1px var(--border-cards);
}

.team{
    margin-top: 2rem;
    background-color: burlywood;
    height: 100px;

}

main{
    background-color:blueviolet ;
    height: 1000px;
}


/* #endregion layout */

/* region header */

header{
    display: flex;
    height: 50px;
    nav,ul{
        display: flex;
        list-style: none;
        a{
            text-decoration: none;
            :hover{
                text-decoration: underline;
            }
        }
    }
    .start{
        border-style: none;
        background-color: var(--start-button);
        color: white;
    }
}
/* endregion header */


/* region main */

.jumbotron{
    background-color: var(--jumbotron-section);
    height: 300px;
    text-align: center;
}

.white-space{
    
    background-color: white;
    hr{
        border: rgb(240, 240, 240) 1px;
        margin-top: 4rem;
    }
}

.invoice{
    display: flex;
    gap: 1.5rem;
}

.heading-card{
    display: flex;

}




/* endregion main */



footer{
    background-color: black;
    height: 250px;
}

