/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --start-button: #0061fe;
    --jumbotron-section: #b4d0e6;
    --border-cards: #dedde0;
}
body{
    font-family: sans-serif;
}

.btn{
    background-color: var(--start-button);
    color: white;
    border: none;
    margin-top: 2rem;
    padding: 1.0rem;
}

.btn-primary{
    background-color: var(--start-button);
    color: white;
    border: none;
    padding: 0.5rem;    
}


img{
    max-width: 100%;
}

.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 120px;
}

.row{
    background-color: brown;
}

[class^="col"]{
    background-color: rgb(255, 255, 255);
   
}

footer{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 2rem;
    ul{
        list-style: none;
    }
}


/* #endregion common */


/* #region layout */

.left-side{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    gap: 1.5rem;
}

.right-side{
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    ul{
        margin-top: 0.5rem;
    }
    
}

main{
    margin-top: 6rem;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 0 ;
    margin-top: 1rem;
    
}

[class^="col"]{
    padding: 1rem;
}

.col{
    width: auto;
    flex-basis: auto;
}

.col-1{
    width: calc(100% / 12 *1);
}

.col-2{
    width: calc(100% / 12 *2);
}

.col-3{
    width: calc(100% / 12 *3);
}

.col-4{
    width: calc(100% / 12 *4);
}

.col-5{
    width: calc(100% / 12 *5);
}

.col-6{
    width: calc(100% / 12 *6);
}

.col-7{
    width: calc(100% / 12 *7);
}

.col-8{
    width: calc(100% / 12 *8);
}

.col-9{
    width: calc(100% / 12 *9);
}

.col-10{
    width: calc(100% / 12 *10);
}

.col-11{
    width: calc(100% / 12 *11);
}

.col-12{
    width: 100%;
}



.team{
    margin-top: 2rem;
    background-color: burlywood;
    height: 100px;

}

.partner-img-paragraph{
    margin-top: 6rem;
    display: flex;
    .partner-paragraph{
        margin-left: 1rem;
    }
    .find-partner{
        margin-top: 1.5rem;
        padding: 0.25rem;
        background-color: white;
        border-color: #343434 ;
    }
    
}

.content{
    display: flex;
    .list-title{
        margin: 1rem 0;
        padding: 1rem 0;
        li{
            padding-top: 0.5rem;
        }
    }
}
.jumbotron{
    .container{
        max-width: 1440px;
        width: 80%;
        text-align: justify;
    }
}




/* #endregion layout */

/* region header */

header{
    nav,ul{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        list-style: none;
        a{
            text-decoration: none;
            color: black;
            :hover{
                text-decoration: underline;
            }
        }
    }
}
/* endregion header */

/* jumbotron */

h1{
    font-size: 100px;
    width: 100%;    
}

.jumbotron{
    background-color: var(--jumbotron-section);
    box-shadow: 10px 5px 5px black;
    .box-container{
        display: flex;
        .jumbo-left{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 5rem 0 0 0;
        }    
        img{
            padding: 5rem 0 0 0;
        }
        span{
            margin-top: 2rem;
            font-size: 20px;
        }
        p{
            font-size: 20px;
        }
    }
}

/* end jumbotron */

hr{
    background-color: var(--border-cards);
    margin-top: 6rem;
}

/* region main */


 

.invoice{
    display: flex;
    gap: 1.5rem;
}

.heading-card{
    display: flex;

}




/* endregion main */



footer{
    background-color: black;
    height: 250px;
}

